<md-toolbar ng-controller="AppCtrl" style="position: fixed; z-index: 3;">
<!-- z-index to prevent overlapping of the toolbar with the cards. kept at the top level -->
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="toggleLeft()">
			<md-icon class="material-icons">menu</md-icon>
		</md-button>
		<h2>List Nexus</h2>
	</div>
</md-toolbar>


<div ng-controller="AppCtrl" layout="column" ng-cloak >

  <section layout="row" flex >

	<md-sidenav
		class="md-sidenav-left"
		md-component-id="left"
		md-whiteframe="4">

	 <md-toolbar class="md-theme-indigo">
        <!-- <span flex></span> -->
        <div layout="column" layout-align="space-around center">
        	<user-card><!-- Displays an svg avatar in userCard.js --></user-card>
        	<div>List Nexus</div>
        </div>
      </md-toolbar>

	  <md-content layout-padding ng-controller="LeftCtrl">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span>{{username}}</span>
			</div>

		</md-toolbar>
		<div ng-controller="menuController">
			<md-list flex>
				<md-list-item ng-repeat="item in menu" md-ink-ripple="#000000">
					<md-icon>{{ item.icon }}</md-icon>
					<h3 flex> {{ item.name }} </h3>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>
	  </md-content>
	</md-sidenav>

	<!-- Content of the app-->
